# Site settings
title: Stanisław Szcześniak
description: 'Stanisław Szcześniak - High School student from Warsaw'
url: 'https://s17k.github.io'
baseurl: '/'
# google_analytics: 'UA-XXXXXX-X'
# disqus_shortname: 'your-disqus-name'

author:
  name: 'Stanisław Szcześniak'
  email: stas.szczesniak@gmail.com
  twitter_username: stanszczesniak
  facebook_username: stas.szczesniak
  github_username: s17k
  linkedin_username:

defaults:
  -
    scope:
      path: ''
      type: 'posts'
    values:
        layout: 'post'

# Build settings
destination: _site
paginate: 10
permalink: /:year/:title/
markdown: kramdown
highlighter: rouge

kramdown:
  # use Github Flavored Markdown
  input: GFM
  # do not replace newlines by <br>s
  hard_wrap: false

gems: ['rubygems','jekyll-paginate', 'github-pages']
exclude: ['README.md', 'Gemfile', 'Gemfile.lock']
